.sedans-main{

 height: 400px;
 width: 300px;
 margin-left: 20%;
 position: absolute;
 left: 40px;
 background-color: #E38826;
 color: white;
}

.head{
  margin-top:10%;
  margin-left: 10%;
  font-weight: 700px;
  font-size: 30px; 
  font-family: 'Big Shoulders Display', cursive;
}

.suv-main{
  height: 400px;
  width: 300px;
  position: absolute;
  margin-left: 20%;
  left: 340px;
  background-color : hsl(184, 100%, 22%);
  color: white;
 }

 .lux-main{
  height: 400px;
  width: 300px;
  position: absolute ;
  margin-left: 20%;
  left: 640px;
  background-color : #004241;
  color: white;
 }

.paragraph{
  font-weight: 400px;
  margin: 5% 10% 0%;
  font-family: 'Lexend deca', sans-serif;
}

#main{
  margin-top:20vh;
} 

.learn-more1{
  color : #E38826;  
}

.learn-more2{
  color : hsl(184, 100%, 22%);
}

.learn-more3{
  color : #004241;
}

.learn-more3, .learn-more2, .learn-more1{
  width:25% ;
  margin-left: 10%;
  margin-top: 25%;
  border-radius: 40%/100%;
  padding:12px 25px;
  background-color:white ;
}

img{
  margin: 10% 0% 4% 10%;
}
.learn-more1:hover, .learn-more2:hover,.learn-more3:hover{
  cursor: pointer;
  border-width: 0.1em;
  border-style: solid;
  outline-color: white;
  color: white;
}

.learn-more1:hover{
  background-color:#E38826 ;
}

.learn-more2:hover{
  background-color:hsl(184, 100%, 22%);
}

.learn-more3:hover{
  background-color:#004241;
}
